// =========== Typography ============= \\
@mont: 'Montserrat', sans-serif;
@light: 200;
@regular: 400;
@medium: 500;
@bold: 700;

html, body{
	font-family: @mont;
	font-weight: @light;
	font-size: 20px;
	line-height: 36px;
}

// ============== Colors =============== \\
@red: #bc2025;
@gray: #808184;
// ============== Buttons =============== \\
.red-btn{
	height: auto;
	width: auto;
	padding: 22px 57px;
	display: inline-block;
	background: @red;
	color: white;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: .1em;
	font-weight: @regular;
	transition: all .35s;
	&:hover{
		cursor: pointer;
		background: white;
		text-decoration: none;
		color: @red;
	}
}
.clear-red-btn{
	height: auto;
	width: auto;
	padding: 22px 57px;
	display: inline-block;
	background-color: transparent;
	border: 1px solid @red;
	color: @red;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: .1em;
	font-weight: @regular;
	text-transform: uppercase;
	transition: all .35s;
	&:hover{
		cursor: pointer;
		background: @red;
		text-decoration: none;
		color: white;
	}
}
.black-btn{
	height: auto;
	width: auto;
	padding: 22px 57px;
	display: inline-block;
	background: black;
	color: white;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: .1em;
	font-weight: @regular;
	transition: all .35s;
	&:hover{
		cursor: pointer;
		background: white;
		text-decoration: none;
		color: black;
	}
}
.more-link{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: @medium;
	border-bottom: 3px solid @red;
	color: inherit;
	text-decoration: none;
	transition: all .35s;
	&:hover{
		text-decoration: none;
		color: inherit;
		border-bottom: 3px solid black;
	}
}

// =========== Random Settings ============== \\
.right-border{
	border-right: 1px solid white;
	@media(max-width:991px){
		border-right: none;
		border-bottom: 1px solid white;
	}
}
.form-field{
	position: relative;
	display: block;
	width: 100%;
	height: 45px;
	border: none;
	padding-left: 10px;
	margin-bottom: 25px;
}
[type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}
.form-file{
	position: relative;
	height: 45px;
	width: auto;
	display: inline-block;
	padding: 3px 25px;
	font-size: 18px;
	font-weight: @regular;
	text-transform: uppercase;
	color: black;
	background: white;
	border: 1px solid black;
	transition: all .35s;
	&:hover{
		cursor: pointer;
		background: black;
		color: white;
	}
}
.select{
	position: relative;
	display: block;
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 0px;
	background: white;
	&:after{
		content: '\f107';
		font-family: 'Font Awesome 5 Free';
		font-weight: 600;
		font-size: 22px;
		position: absolute;
		right: 10px;
		top: 5px;
		color: black;
		pointer-events: none;
	}
}
select {
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	-ms-appearance: none;
  	appearance: none;
  	outline: 0;
  	box-shadow: none;
  	border: 0 !important;
  	background-color: transparent;
  	background-image: none;
 	position: relative;
	width: 100%;
	height: 45px;
	cursor: pointer;
	padding: 0 0 0 5px;
}
label{
	margin-bottom: 0px;
}

.main-nav-container{
	position: absolute;
	top: 0px;
	left: 0px;
	height: auto;
	width: 100%;
	padding: 25px 15px 25px;
	z-index: 99;
	text-align: center;
	@media(max-width:991px){
		position: relative;
		background: white;
	}
	.left-section, .right-section{
		position: relative;
		height: auto;
		text-transform: uppercase;
		letter-spacing: .05em;
		font-weight: @medium;
		font-size: 15px;
		line-height: 15px;
		text-align: center;
		padding: 70px 0px 0px;
		@media(min-width:1200px) and (max-width:1299px){
			font-size: 13px;
		}
		@media(min-width:992px) and (max-width:1199px){
			font-size: 10px;
		}
		ul{
			padding: 0px;
			list-style: none;
			li{
				display: inline-block;
				margin-right: 50px;
				&:last-child{
					margin-right: 0px;
				}
				@media(min-width:992px) and (max-width:1550px){
					margin-right: 20px;
				}
			}
		}
		a{
			color: white;
			text-decoration: none;
		}
	}
	.logo{
		position: relative;
		height: auto;
		width: 90%;
		max-width: 300px;
		display: block;
		margin: 0 auto;
	}
	.mobile-nav-btn{
		position: absolute;
		top: -25px;
		right: 30px;
		margin-top: 0px;
		height: auto;
		width: auto;
		display: inline-block;
		padding-top: 25px;
		@media(min-width:992px){
			display: none;
		}
		p{
			font-family: @mont;
			font-weight: @regular;
			text-transform: uppercase;
			letter-spacing: .05em;
			font-size: 2.2vw;
			line-height: 22px;
			margin-top: 1.5vw;
			@media(max-width:599px){
				font-size: 16px;
				padding-top: 5px;
			}
		}
		.bar{
			position: relative;
			height: 5px;
			width: 7vw;
			background: black;
			margin-top: 5px;
			@media(max-width:599px){
				width: 50px;
			}
		}

		.topDown{
			animation: topDown .35s ease-in-out forwards;
		}
		.topUp{
			animation: topUp .35s ease-in-out forwards;
		}
		.midOut{
			animation: midOut .35s ease-in-out forwards;
		}
		.midIn{
			animation: midIn .35s ease-in-out forwards;
		}
		.lowUp{
			animation: lowUp .35s ease-in-out forwards;
		}
		.lowDown{
			animation: lowDown .35s ease-in-out forwards;
		}
		@keyframes topDown{
			0%{
				top: 0;
				transform: rotate(0deg);
			}
			25%{
				top: 10px;
				transform: rotate(0deg);
			}
			75%{
				top: 10px;
				transform: rotate(0deg);

			}
			100%{
				top: 10px;
				transform: rotate(45deg);
			}
		}
		@keyframes topUp{
			0%{
				top: 10px;
				transform: rotate(45deg);
			}
			25%{
				top: 10px;
				transform: rotate(0deg);
			}
			75%{
				top: 10px;
				transform: rotate(0deg);

			}
			100%{
				top: 0px;
				transform: rotate(0deg);
			}
		}
		@keyframes midOut{
			0%{
				opacity: 1;
			}
			25%{
				opacity: 1;
			}
			75%{
				opacity: 0;
			}
			100%{
				opacity: 0;
			}
		}
		@keyframes midIn{
			0%{
				opacity: 0;
			}
			25%{
				opacity: 0;
			}
			75%{
				opacity: 0;
			}
			100%{
				opacity: 1;
			}
		}
		@keyframes lowUp{
			0%{
				top: 0;
				transform: rotate(0deg);
			}
			25%{
				top: -10px;
				transform: rotate(0deg);
			}
			75%{
				top: -10px;
				transform: rotate(0deg);

			}
			100%{
				top: -10px;
				transform: rotate(-45deg);
			}
		}
		@keyframes lowDown{
			0%{
				top: -10px;
				transform: rotate(-45deg);
			}
			25%{
				top: -10px;
				transform: rotate(0deg);
			}
			75%{
				top: -10px;
				transform: rotate(0deg);

			}
			100%{
				top: 0px;
				transform: rotate(0deg);
			}
		}
	}

	.mobi-nav-container{
		position: relative;
		height: 80vh;
		width: 100vw;
		top: 0px;
		left: 0px;
		text-align: center;
		padding-top: 75px;
		padding-bottom: 75px;
		display: none;
		p{
			display: block;
			animation: fadeIn .5s ease-in-out forwards;
		}
		a{
			font-size: 20px;
			line-height: 20px;
			color: black;
			text-transform: uppercase;
		}
		@keyframes fadeIn{
			0%{
				opacity: 0;
				margin-top: 100px;
			}
			100%{
				opacity: 1;
				margin-top: 0px;
			}
		}
	}
}

.hero-container{
	position: relative;
	height: auto;
	width: 100vw;
	z-index: 1;
	.hero-banner{
		position: relative;
		height: auto;
		width: 100vw;
		z-index: 1;
	}
	.cta-container{
		position: absolute;
		height: auto;
		width: 100%;
		text-align: center;
		z-index: 2;
		top: 65%;
		color: white;
		text-transform: uppercase;
		@media(min-width:768px) and (max-width:991px){
			top: 50%;
		}
		h1{
			font-size: 86px;
			font-weight: @light;
			padding-bottom: 20px;
			@media(min-width:1200px) and (max-width:1299px){
				font-size: 70px;
			}
			@media(min-width:992px) and (max-width:1199px){
				font-size: 66px;
			}
			@media(min-width:768px) and (max-width:991px){
				font-size: 50px;
			}
			@media(max-width:767px){
				
			}
		}
		.red-btn, .black-btn{
			width: 275px;
			text-align: center;
			padding: 22px 0px;
		}
		.red-btn{
			margin-right: 25px;
		}
	}
}

.callout-container{
	padding: 50px 15px 100px;
	position: relative;
	display: block;
	height: auto;
	background: url(img/callout-bg.jpg) repeat-x;
	text-align: center;
	@media(max-width:991px){
		background: @red;
		padding: 0px;
	}
	.callout{
		position: relative;
		display: inline-block;
		width: 28.889%;
		max-width: 450px;
		height: 100%;
		background: white;
		&:first-child{
			margin-left: 3.333%;
			@media(max-width:991px){
				margin-left: 0px;
			}
		}
		&:last-child{
			margin-right: 3.333%;
			@media(max-width:991px){
				margin-right: 0px;
			}
		}
		&:nth-child(2){
			margin-left: 3.333%;
			margin-right: 3.333%;
			@media(max-width:991px){
				margin-left: 0px;
				margin-right: 0px;
			}
		}
		@media(min-width:1200px) and (max-width:1599px){
			width: 27%;
		}
		@media(min-width:992px) and (max-width:1199px){
			width: 27.6vw;
		}
		@media(max-width:991px){
			width: 100%;
			max-width: 100%;
		}
		.callout-img-container{
			.callout-img{
				position: relative;
				display: block;
				max-width: 100%;
				@media(max-width:991px){
					margin: 0 auto;
				}
			}
			.icon-container{
				position: absolute;
				display: inline-block;
				height: 100px;
				width: 100px;
				border-radius: 300px;
				background: white;
				top: 48.5%;
				left: 40%;
				text-align: center;
				padding-top: 15px;
				@media(min-width:1200px) and (max-width:1599px){
					top: 14vw;
					left: 9vw;
				}
				@media(min-width:992px) and (max-width:1199px){
					top: 13.5vw;
					left: 9vw;
				}
				@media(min-width:688px) and (max-width:991px){
					top: 63.5%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				@media(min-width: 480px) and (max-width:687px){
					top: 60%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				@media(max-width:479px){
					top: 55%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		.callout-body{
			padding: 60px 25px 15px;
			text-align: center;
			border-bottom: 5px solid @red;
			color: @gray;
			font-size: 16px;
			line-height: 24px;
			h3{
				font-size: 24px;
				line-height: 18px;
				letter-spacing: .05em;
				text-transform: uppercase;
				color: black;
			}
		}
	}
}

.about-container{
	padding: 80px 15px;
	h4{
		font-size: 32px;
		line-height: 40px;
		font-weight: @regular;
		@media(min-width:768px) and (max-width:991px){
			padding-top: 30px;
			padding-bottom: 30px;
			margin: 0px;
		}
	}
	img{
		position: relative;
		display: block;
		max-width: 100%;
	}
	@media(min-width:768px) and (max-width:991px){
		img{
			margin: 0 auto;
		}
	}
}

.logistics-container{
	background: url(img/logistics-bg.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	padding: 130px 15px;
	p{
		color: white;
		font-size: 28px;
		line-height: 36px;
		font-weight: @medium;
		padding-bottom: 20px;
	}
}

.services-container{
	color: white;
	padding: 100px 15px;
	background: @red;
	h2{
		text-transform: uppercase;
		font-size: 32px;
		line-height: 40px;
		letter-spacing: .1em;
		margin-bottom: 60px;
	}
	h4{
		font-size: 32px;
		line-height: 40px;
		font-weight: @light;
		text-align: center;
		margin-bottom: 65px;
	}
	p{
		font-weight: @regular;
	}
	.l-columns{
		position: relative;
		float: left;
		width: 50%;
	}
	.r-columns{
		position: relative;
		float: left;
		width: 25%;
	}
	.icons{
		position: relative;
		height: 200px;
		width: 100%;
		text-align: center;
		@media(min-width: 992px) and (max-width:1199px){
			p{
				font-size: 14px;
				line-height: 18px;
			}
		}
		&:first-child{
			margin-left: 0px;
		}
		.icon{
			position: relative;
			display: inline-block;
			max-width: 100%;
			margin-bottom: 15px;
			@media(min-width: 992px) and (max-width:1199px){
				max-width: 85%;
			}
		}
	}
}

.news-img-container{
	padding-top: 75px;
	background: url(img/metal-bg.jpg) no-repeat;
	background-size: cover;
	.news-img{
		border-top: 3px solid @red;
		position: relative;
		display: block;
		margin: 0 auto;
	}
}
.news-body-container{
	background: white;
	padding-top: 20px;
	padding-bottom: 70px;
	h5{
		font-size: 28px;
		line-height: 28px;
		font-weight: @regular;
	}
	p{
		font-size: 16px;
		line-height: 24px;
		font-weight: @light;
		margin-top: 35px;
		margin-bottom: 0px;
		padding: 0px;
	}
	.article{
		position: relative;
		display: block;
		width: 78%;
		margin: 0 auto;
	}
	.clear-red-btn{
		position: relative;
		margin-top: 80px;
	}
}

.content-container{
	position: relative;
	z-index: 2;
	.content{
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		background-color: white;
		margin-top: -15vw;
		padding: 100px 15px;
		h1{
			color: @red;
			font-weight: @light;
			font-size: 64px;
			line-height: 64px;
			text-align: center;
			margin-bottom: 85px;
		}
		h4{
			font-size: 32px;
			line-height: 40px;
			font-weight: @regular;
		}
		.qualifications{
			h4{
				font-weight: @light;
				line-height: 32px;
				margin-top: 20px;
			}
			ul{
				list-style: none;
				li{
					position: relative;
					padding-top: 15px;
					line-height: 24px;
					&:before{
						content: '';
						position: absolute;
						height: 10px;
						width: 10px;
						background: @red;
						top: 22px;
						left: -20px;
					}
				}
			}
		}
		.black-btn{
			font-size: 16px;
			line-height: 16px;
			text-transform: uppercase;
			margin-top: 25px;
			&:hover{
				color: white;
				background: @red;
			}
		}
	}
}

.apply-section{
	position: relative;
	background: @red;
	padding: 75px 15px 100px;
	color: white;
	h2{
		font-size: 42px;
		line-height: 40px;
		font-weight: @regular;
		padding-bottom: 40px;
		text-align: center;
	}
	.application{
		.notification{
			position: relative;
			margin-left: 10px;
		}
		.captcha-container{
			position: relative;
			display: block;
			margin-top: 25px;
			margin-bottom: 50px;
		}
		.black-btn{
			border: none;
			text-transform: uppercase;
		}
	}
}

.top-footer{
	position: relative;
	background: black;
	border-top: 5px solid @red;
	color: white;
	font-size: 12px;
	line-height: 20px;
	font-weight: @medium;
	padding: 55px 15px;
	@media(min-width: 1200px){
		padding: 55px 75px;
	}
	a{
		color: inherit;
	}
	ul{
		padding: 0px;
		list-style: none;
	}
}
.bottom-footer{
	background: white;
	font-weight: @regular;
	text-transform: uppercase;
	color: black;
	padding: 45px 15px;
	@media(min-width: 1200px){
		padding: 45px 75px;
	}
	ul{
		padding: 0px;
		list-style: none;
		li{
			display: inline-block;
			margin-right: 40px;
			&:last-child{
				margin-right: 0px;
			}
		}
	}
	.left-col{
		font-size: 12px;
	}
	.right-col{
		font-size: 16px;
		text-align: right;
		padding-top: 15px;
	}
	.copy{
		font-weight: @light;
		font-size: 12px;
		line-height: 12px;
		color: @gray;
		padding-top: 65px;
	}
}

// ============ Bootstrap Changes ========== \\
.container{
	@media(min-width:1300px) and (max-width:1449px){
		width: 1270px;
	}
	@media(min-width:1450px) and (max-width:1599px){
		width: 1420px;
	}
	@media(min-width:1600px) and (max-width:1749px){
		width: 1570px;
	}
	@media(min-width:1750px) and (max-width:1799px){
		width: 1720px;
	}
	@media(min-width:1800px){
		width: 1770px;
	}
}