<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  	<meta name="description" content="<%= @webpage.meta_des %>">

   	<link rel="shortcut icon" href="/favicon.ico">
   	<meta name="apple-mobile-web-app-title" content="Star Logistics">
   	<link rel="mask-icon" href="mask-icon.svg" color="#E53333">
   	<link rel="apple-touch-icon" href="/apple-touch-icon.png">	
   	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
   	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
   	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
   	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
   	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
   	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
   	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
   	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
   	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
   	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
   	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
   	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   	<link rel="manifest" href="/manifest.json">
   	<meta name="msapplication-TileColor" content="#ffffff">
   	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
   	<meta name="theme-color" content="#ffffff">

   <!--<title><%= @webpage.meta_key %></title>-->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700" rel="stylesheet">

  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/parallax.js"></script>
  <script src="javascripts/owl.carousel.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/parallax.js"></script>

  <!-- google analytics code for website
  <% if !@website.web_analytics_id.blank? %>
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= @website.web_analytics_id %>', 'auto');
      ga('send', 'pageview');

    </script>
  <% end %>
   -->
  <!-- GA code for webpage ends -->
  <!-- Full Tracking code for website
  <% if !@website.full_website_code.blank? %>
    <%= @website.full_website_code.html_safe %>
     -->
    <!-- Full Tracking code for website ENDS 
  <% end %>
   -->
  <!-- Full Tracking code for webpage 
  <% if !@webpage.full_tracking_code.blank? %>
    <%= @webpage.full_tracking_code.html_safe %>
    <!-- Full Tracking code for webpage ENDS 

  <% end %>
   -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
	<div class="container-fluid main-nav-container">
		<div class="d-none d-lg-block">
			<div class="row">
				<div class="col-lg-4 offset-lg-1">
					<div class="left-section">
						<ul>
							<li><a href="">Drivers wanted</a></li>
							<li><a href="">Carriers</a></li>
							<li><a href="">Customers</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="mid-section">
						<img src="images/lg-logo.png" alt="Star Logistics" class="logo">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="right-section">
						<ul>
							<li><a href="">Careers</a></li>
							<li><a href="">About Us</a></li>
							<li><a href="">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row d-block d-lg-none">
			<div class="col-12">
				<img src="images/sm-logo.png" alt="Star Logistics" class="logo">
				<div class="mobile-nav-btn">
					<div class="bar top-bar"></div>
					<div class="bar mid-bar"></div>
					<div class="bar low-bar"></div>
					<p>menu</p>
				</div>
			</div>
			<script>
				$(document).ready(function(){
					var mobiBtn = $('.mobile-nav-btn');
					var top = $('.top-bar');
					var mid = $('.mid-bar');
					var low = $('.low-bar');
					var isOpen = '';
					mobiBtn.click(function(){
						if(isOpen<2){
							top.addClass('topDown');
							top.removeClass('topUp');
							mid.addClass('midOut');
							mid.removeClass('midIn');
							low.addClass('lowUp');
							low.removeClass('lowDown');
							$('.mobi-nav-container').show();
							$('.lower-nav').addClass('darken');
							isOpen++;
						}else{
							top.addClass('topUp');
							top.removeClass('topDown');
							mid.addClass('midIn');
							mid.removeClass('midOut');
							low.addClass('lowDown');
							low.removeClass('lowUp');
							$('.mobi-nav-container').slideUp();
							$('.lower-nav').removeClass('darken');
							isOpen--;
						}
					});
				});
			</script>
			<div class="mobi-nav-container">
				<p><a href="">Home</a></p>
				<p><a href="">portfolio</a></p>
				<p><a href="">about our team</a></p>
				<p><a href="">investor relations</a></p>
				<p><a href="">news</a></p>
				<p><a href="">contact</a></p>
			</div>
		</div>
	</div>
	
	<div class="hero-container">
		<img src="images/hero-banner.jpg" alt="Star Logistics Truck and Trailer" class="hero-banner d-none d-md-block">
		<img src="images/mobile-hero.jpg" alt="Star Logistics Truck and Trailer" class="hero-banner d-block d-md-none">
		<div class="cta-container">
			<h1>tradition. passion. trust.</h1>
			<a href="" class="red-btn">contact us</a> <a href="" class="black-btn">drivers apply here</a>
		</div>
	</div>
	
	<div class="container-fluid callout-container">
		<div class="callout">
			<div class="callout-img-container">
				<img src="images/callouts/drivers.jpg" class="callout-img" alt="Drivers">
				<div class="icon-container">
					<img src="images/icons/wheel.png">
				</div>
			</div>
			<div class="callout-body">
				<h3>drivers wanted</h3>
				<p>Interested in traveling from the Midwest to California and back on a weekly basis? If you are, we have a career for you that will be both rewarding and fulfilling.</p>
			</div>
		</div>
		<div class="callout">
			<div class="callout-img-container">
				<img src="images/callouts/carriers.jpg" class="callout-img" alt="Carriers">
				<div class="icon-container">
					<img src="images/icons/truck.png">
				</div>
			</div>
			<div class="callout-body">
				<h3>drivers wanted</h3>
				<p>Interested in traveling from the Midwest to California and back on a weekly basis? If you are, we have a career for you that will be both rewarding and fulfilling.</p>
			</div>
		</div>
		<div class="callout">
			<div class="callout-img-container">
				<img src="images/callouts/customers.jpg" class="callout-img" alt="Customers">
				<div class="icon-container">
					<img src="images/icons/packages.png">
				</div>
			</div>
			<div class="callout-body">
				<h3>drivers wanted</h3>
				<p>Interested in traveling from the Midwest to California and back on a weekly basis? If you are, we have a career for you that will be both rewarding and fulfilling.</p>
			</div>
		</div>
	</div> 
	
	<div class="container-fluid about-container">
		<div class="row">
			<div class="col-12 col-lg-4 offset-lg-1">
				<img src="images/about-us.jpg" alt="About Star Logistics" class="img-fluid">
			</div>
			<div class="col-12 col-lg-6">
				<h4>Is finding a service provider to manage your freight, slowing down your business and costing you valuable time? Are you looking for ways to drive business growth?</h4>
				<p>Star Logistics, Inc. can help reduce your shipping risks, lower transportation costs and keep your customers happy. With our 22 assets trucks and by leveraging our resources and expertise, you receive the best combination of price and service to move your freight fast. With less exposure to freight loss or damage, dependable and punctual pickup and delivery, express rate quotes, access to over 7,000 carriers and a nationwide network of quality fleets, you can turn transportation needs over to us and focus on what you do best, running your business.</p>
				<a href="" class="more-link">Read more about us</a>
			</div>
		</div>
	</div>
	
	<div class="container-fluid logistics-container">
		<div class="row">
			<div class="col-12 text-center">
				<p>Asset Backed</p>
				<p>Fully Bonded/Insured Company</p>
				<p>Superior Customer Service</p>
				<p>We Offer Support 24 Hours a Day, 7 Days a Week, 365 Days of the Year</p>
			</div>
		</div>
	</div>
	
	<div class="container-fluid services-container">
		<div class="row">
			<div class="col-12 text-center">
				<h2>Our Services</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-4 offset-lg-1 right-border">
				<h4>Assets</h4>
				<div class="l-columns">
					<div class="icons">
						<img src="images/icons/truck-trailer.png" class="icon" alt="Dry Hauling">
						<p>Dry</p>
					</div>
					<div class="icons">
						<img src="images/icons/dock.png" class="icon" alt="Cross Docking">
						<p>Cross Docking</p>
					</div>
					<div class="icons">
						<img src="images/icons/truck-trailer.png" class="icon" alt="Power Only">
						<p>Power Only</p>
					</div>
				</div>
				<div class="l-columns">
					<div class="icons">
						<img src="images/icons/star-truck-trailer.png" class="icon" alt="Temperature Control">
						<p>Temperature Control</p>
					</div>
					<div class="icons">
						<img src="images/icons/pallet.png" class="icon" alt="LTL">
						<p>LTL</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-7">
				<h4>Logistic Solutions</h4>
				<div class="r-columns">
					<div class="icons">
						<img src="images/icons/gooseneck.png" class="icon" alt="Heavy Hauling">
						<p>Heavy Haul</p>
					</div>
					<div class="icons">
						<img src="images/icons/pallet.png" class="icon" alt="LTL">
						<p>LTL</p>
					</div>
					<div class="icons">
						<img src="images/icons/truck-trailer.png" class="icon" alt="Power Only">
						<p>Power Only</p>
					</div>
				</div>
				<div class="r-columns">
					<div class="icons">
						<img src="images/icons/flatbed.png" class="icon" alt="Flatbed / Step">
						<p>Flatbed / Step</p>
					</div>
					<div class="icons">
						<img src="images/icons/dedicated.png" class="icon" alt="Dedicated">
						<p>Dedicated</p>
					</div>
					<div class="icons">
						<img src="images/icons/temp-ltl.png" class="icon" alt="Temperature Control">
						<p>Temperature Control LTL Solutions</p>
					</div>
				</div>
				<div class="r-columns">
					<div class="icons">
						<img src="images/icons/train.png" class="icon" alt="Rail">
						<p>Rail</p>
					</div>
					<div class="icons">
						<img src="images/icons/surge.png" class="icon" alt="Surge Event">
						<p>Surge Event Solutions</p>
					</div>
				</div>
				<div class="r-columns">
					<div class="icons">
						<img src="images/icons/warehouse.png" class="icon" alt="Cold, Frozen, Dry Warehouse">
						<p>Cold / Frozen / Dry Warehouse Solutions</p>
					</div>
					<div class="icons">
						<img src="images/icons/dock.png" class="icon" alt="Cross Docking">
						<p>Cross Docking</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid news-img-container">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4">
				<img src="images/article-1.jpg" class="img-fluid news-img" alt="Star Logistics, Inc.">
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<img src="images/article-1.jpg" class="img-fluid news-img" alt="Star Logistics, Inc.">
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<img src="images/article-1.jpg" class="img-fluid news-img" alt="Star Logistics, Inc.">
			</div>
		</div>
	</div>
	
	<div class="container-fluid news-body-container">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4">
				<div class="article">
					<h5>Star Logistics, Inc. - Now backed with Assets</h5>
					<p>Effective April 20, 2016: Star will place their first driver on the roads. We are looking to help our customers on a more personal level with service and the Star commitment.</p>
					<p><a href="" class="more-link">Read More</a></p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="article">
					<h5>Star Logistics, Inc. - Now backed with Assets</h5>
					<p>Effective April 20, 2016: Star will place their first driver on the roads. We are looking to help our customers on a more personal level with service and the Star commitment.</p>
					<p><a href="" class="more-link">Read More</a></p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="article">
					<h5>Star Logistics, Inc. - Now backed with Assets</h5>
					<p>Effective April 20, 2016: Star will place their first driver on the roads. We are looking to help our customers on a more personal level with service and the Star commitment.</p>
					<p><a href="" class="more-link">Read More</a></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<a href="" class="clear-red-btn">read more news</a>
			</div>
		</div>
	</div>
	
	<div class="container-fluid top-footer">
		<div class="row">
			<div class="col-6">
				<ul>
					<li><a href="">Drivers Wanted</a></li>
					<li><a href="">Careers</a></li>
					<li><a href="">Carriers</a></li>
					<li><a href="">Customers</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>
			<div class="col-6 text-right">
				<p>3850 S 149th St, Suite 111<br>
					Omaha, NE 68144</p>
				<p>Toll Free: (866) 730-STAR(7827)<br>
				Phone: (402) 896-0708<br>
				Fax: (402) 896-0969</p>
			</div>
		</div>
	</div>
	<div class="container-fluid bottom-footer">
		<div class="row">
			<div class="col-12 col-md-6 left-col">
				<ul>
					<li>proud member of:</li>
					<li><img src="images/logos/tia.png" class="img-fluid" alt="TIA"></li>
					<li><img src="images/logos/smart-way.png" class="img-fluid" alt="Smart Way"></li>
					<li><img src="images/logos/bbb.png" class="img-fluid" alt="Better Business Bureau"></li>
				</ul>
			</div>
			<div class="col-12 col-md-6 right-col">
				<ul>
					<li>mc# 526234</li>
					<li>dot# 2234386</li>
					<li>scac sces</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center copy">
				Copyright &copy; 2018 Star Logistics, All Rights Reserved
			</div>
		</div>
	</div>
</body>
</html>
