<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  	<meta name="description" content="<%= @webpage.meta_des %>">

   	<link rel="shortcut icon" href="/favicon.ico">
   	<meta name="apple-mobile-web-app-title" content="Star Logistics">
   	<link rel="mask-icon" href="mask-icon.svg" color="#E53333">
   	<link rel="apple-touch-icon" href="/apple-touch-icon.png">	
   	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
   	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
   	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
   	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
   	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
   	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
   	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
   	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
   	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
   	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
   	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
   	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   	<link rel="manifest" href="/manifest.json">
   	<meta name="msapplication-TileColor" content="#ffffff">
   	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
   	<meta name="theme-color" content="#ffffff">

   <!--<title><%= @webpage.meta_key %></title>-->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700" rel="stylesheet">

  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/parallax.js"></script>
  <script src="javascripts/owl.carousel.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/parallax.js"></script>

  <!-- google analytics code for website
  <% if !@website.web_analytics_id.blank? %>
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= @website.web_analytics_id %>', 'auto');
      ga('send', 'pageview');

    </script>
  <% end %>
   -->
  <!-- GA code for webpage ends -->
  <!-- Full Tracking code for website
  <% if !@website.full_website_code.blank? %>
    <%= @website.full_website_code.html_safe %>
     -->
    <!-- Full Tracking code for website ENDS 
  <% end %>
   -->
  <!-- Full Tracking code for webpage 
  <% if !@webpage.full_tracking_code.blank? %>
    <%= @webpage.full_tracking_code.html_safe %>
    <!-- Full Tracking code for webpage ENDS 

  <% end %>
   -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
	<div class="container-fluid main-nav-container">
		<div class="left-section">
			<ul>
				<li><a href="">Drivers wanted</a></li>
				<li><a href="">Carriers</a></li>
				<li><a href="">Customers</a></li>
			</ul>
		</div>
		<div class="mid-section">
			<img src="images/lg-logo.png" alt="Star Logistics" class="logo">
		</div>
		<div class="right-section">
			<ul>
				<li><a href="">Careers</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</div>
	</div>
	
	<div class="hero-container">
		<img src="images/subpage-hero.jpg" alt="Star Logistics Truck and Trailer" class="hero-banner">
	</div>
	
	<div class="container-fluid content-container">
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">
				<div class="content">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1">
							<h1>Drivers Wanted</h1>
							<h4>Interested in traveling from the Midwest to California and back on a weekly basis? Interested in travelling all over the country?</h4>
							<p>If interested in applying for a position, please call or submit your resume to Star Logistics (Monday through Friday from 7 a.m. - 5 p.m. CST)</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1">
							<h4>General Qualifications</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1">
							<div class="row qualifications">
								<div class="col-12 col-lg-6 no-pad">
									<h4>You must:</h4>
									<ul>
										<li>Have a valid CDL Class A (Must have at least 2 years of Refrigerated experience)</li>
										<li>Be at least 21 years old</li>
										<li>Meet DOT requirements and pass a DOT physical, which includes substance screening</li>
										<li>Have a safe driving record</li>
										<li>Have good work history</li>
										<li>Be able to fulfill the physical / mental demands of the job</li>
									</ul>
								</div>
								<div class="col-12 col-lg-6 no-pad">
									<h4>Benefits:</h4>
									<ul>
										<li>Medical, Dental, Life</li>
										<li>401K with Company Match</li>
										<li>Paid Vacation</li>
										<li>Tractor and Trailer (California Legal)</li>
										<li>At least 3000 miles a week</li>
										<li>Possible earnings up to $80,000.00 plus per year</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-12 text-center">
									<a href="" class="black-btn">print job</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid apply-section">
		<div class="row">
			<div class="col-12">
				<h2> Apply Online</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">
				<div class="row">
					<div class="col-12 col-lg-10 offset-lg-1">
						<form class="application">
							<div class="row">
								<div class="col-12 col-lg-6">
									<label>Name</label><br>
									<input type="text" name="name" class="form-field">
								</div>
								<div class="col-12 col-lg-6">
									<label>Street Address</label><br>
									<input type="text" name="address" class="form-field">
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-lg-6">
									<label>Email Address</label><br>
									<input type="email" name="email" class="form-field">
								</div>
								<div class="col-12 col-lg-6">
									<div class="row">
										<div class="col-12 col-lg-6">
											<label>City</label><br>
											<input type="text" name="address" class="form-field">
										</div>
										<div class="col-12 col-lg-3">
											<label>State</label><br>
											<div class="select">
												<select name="state" class="form-select">
													<option value=""></option>
													<option value="AL">AL</option>
													<option value="AK">AK</option>
													<option value="AR">AR</option>	
													<option value="AZ">AZ</option>
													<option value="CA">CA</option>
													<option value="CO">CO</option>
													<option value="CT">CT</option>
													<option value="DC">DC</option>
													<option value="DE">DE</option>
													<option value="FL">FL</option>
													<option value="GA">GA</option>
													<option value="HI">HI</option>
													<option value="IA">IA</option>	
													<option value="ID">ID</option>
													<option value="IL">IL</option>
													<option value="IN">IN</option>
													<option value="KS">KS</option>
													<option value="KY">KY</option>
													<option value="LA">LA</option>
													<option value="MA">MA</option>
													<option value="MD">MD</option>
													<option value="ME">ME</option>
													<option value="MI">MI</option>
													<option value="MN">MN</option>
													<option value="MO">MO</option>	
													<option value="MS">MS</option>
													<option value="MT">MT</option>
													<option value="NC">NC</option>	
													<option value="NE">NE</option>
													<option value="NH">NH</option>
													<option value="NJ">NJ</option>
													<option value="NM">NM</option>			
													<option value="NV">NV</option>
													<option value="NY">NY</option>
													<option value="ND">ND</option>
													<option value="OH">OH</option>
													<option value="OK">OK</option>
													<option value="OR">OR</option>
													<option value="PA">PA</option>
													<option value="RI">RI</option>
													<option value="SC">SC</option>
													<option value="SD">SD</option>
													<option value="TN">TN</option>
													<option value="TX">TX</option>
													<option value="UT">UT</option>
													<option value="VT">VT</option>
													<option value="VA">VA</option>
													<option value="WA">WA</option>
													<option value="WI">WI</option>	
													<option value="WV">WV</option>
													<option value="WY">WY</option>
												</select>
											</div>
										</div>
										<div class="col-12 col-lg-3">
											<label>Zip</label><br>
											<input type="text" name="address" class="form-field">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-lg-6">
									<label>Phone Number</label><br>
									<input type="tel" name="number" class="form-field">
								</div>
								<div class="col-12 col-lg-6">
									<label>Attach Resume</label><br>
									<input id="resume" type="file" name="resume">
									<label class="form-file file-btn" for="resume">Choose File</label>
									<span class="notification">No File Chosen</span>
								</div>
								<script>
									$("input[type=file]").on("change", function(){
										var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
										$('.file-btn').text('Change File');
										$('.notification').text(filename);
									});
								</script>
							</div>
							<div class="row">
								<div class="col-12 text-center">
									<div class="captcha-container">
										<img src="images/captcha.jpg">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 text-center">
									<button class="black-btn">submit resume</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid top-footer">
		<div class="row">
			<div class="col-6">
				<ul>
					<li><a href="">Drivers Wanted</a></li>
					<li><a href="">Careers</a></li>
					<li><a href="">Carriers</a></li>
					<li><a href="">Customers</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>
			<div class="col-6 text-right">
				<p>3850 S 149th St, Suite 111<br>
					Omaha, NE 68144</p>
				<p>Toll Free: (866) 730-STAR(7827)<br>
				Phone: (402) 896-0708<br>
				Fax: (402) 896-0969</p>
			</div>
		</div>
	</div>
	<div class="container-fluid bottom-footer">
		<div class="row">
			<div class="col-12 col-md-6 left-col">
				<ul>
					<li>proud member of:</li>
					<li><img src="images/logos/tia.png" class="img-fluid" alt="TIA"></li>
					<li><img src="images/logos/smart-way.png" class="img-fluid" alt="Smart Way"></li>
					<li><img src="images/logos/bbb.png" class="img-fluid" alt="Better Business Bureau"></li>
				</ul>
			</div>
			<div class="col-12 col-md-6 right-col">
				<ul>
					<li>mc# 526234</li>
					<li>dot# 2234386</li>
					<li>scac sces</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center copy">
				Copyright &copy; 2018 Star Logistics, All Rights Reserved
			</div>
		</div>
	</div>
</body>
</html>
